#about-me {
  margin-top: 3rem;
  margin-bottom: 12rem;
}

.section-title {
  font-family: 'Open Sans', sans-serif;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.section-body {
  margin-top: 3rem;
}

@media (max-width: 575.98px)  {
  #about-me {
    margin-top: 1.5rem;
    margin-bottom: 8rem;
  }

  .section-title {
    position: sticky;
    top: 0;
    background-color: rgba(255, 253, 250, 0.96);
    padding: 1rem 0;
  }

  .section-body {
    margin-top: 1.5rem;
  }
}
