.hero {
  margin-top: 5rem;
  margin-bottom: 12rem;
}

.hero h1 {
  font-family: 'Open Sans', sans-serif;
}

.portrait {
  border-radius: 10px;
  width: 68%;
}

.download-resume-btn {
  border: 1px solid black !important;
  box-shadow: -5px 5px #555 !important;
  width: 75% !important;
}

.download-resume-btn:hover {
  transform: translate(1px, -3px);
}

@media (max-width: 575.98px)  {
  .hero {
    margin-top: 2rem;
    margin-bottom: 8rem;
  }

  .hero-textbox {
    margin-top: 1rem;
  }

  .portrait-container {
    margin-top: 5rem;
  }

  .portrait {
    width: 100%;
  }
  
  .download-resume-btn:hover {
    transform: none;
  }
}
