.hero {
  height: 80vh;
}

.hero h1 {
  font-family: 'Open Sans', sans-serif;
}

.portrait {
  border-radius: 10px;
  width: 70%;
}

.btn {
  border: 1px solid black !important;
  box-shadow: -5px 5px #555 !important;
  transform: translate(0, 0);
  width: 75% !important;
}

.btn:hover {
  transform: translate(1px, -3px);
}

.arrow-down-container {
  position: absolute;
  left: 50%;
  animation-name: moveArrow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes moveArrow {
  0% { bottom: 2.4rem; }
  50% { bottom: 1rem; }
  100% { bottom: 2.4rem; }
}
