#projects {
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.section-title {
  font-family: 'Open Sans', sans-serif;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  z-index: 999;
}

.section-body {
  margin-top: 3rem;
}

.project-card {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 8px;
  padding: 2rem 1.5rem;
  transition: 0.3s ease;
  top: 0;
  position: relative;
  height: 16rem;
  margin-bottom: 1.5rem;
}

.project-card a {
  text-decoration: none;
  color: black;
}

.project-card:hover {
  top: -8px;
}

.project-card-title {
  font-family: 'Open Sans', sans-serif;
}

.project-card-icon {
  font-size: 0.8rem;
}

.project-card-description {
  color: #4e4e4e;
}

.programming-languages span {
  color: #0A5D8A;
  margin-right: 0.6rem;
  font-size: 0.95rem;
}

@media (max-width: 575.98px)  {
  #projects {
    margin-top: 1.5rem;
    /* margin-bottom: 3rem; */
  }

  .section-title {
    font-size: 1.25rem !important;
    position: sticky;
    top: 0;
    background-color: rgba(255, 253, 250, 0.98);
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
  }

  .section-body {
    margin-top: 1.5rem;
  }

  .project-card {
    padding: 1.6rem 1.5rem;
    height: 14rem;
  }

  .project-card:hover {
    top: 0;
  }
}
